<div id="tasks">
  <h1>Tasks </h1>
  <% if @tasks.empty? %>
    <div class="blank">Yey! No tasks to do!!</div>
  <% else %>
    <ul>
    <%= render @tasks %>

    </ul>
  <% end %>

  <%= simple_form_for @new_task, remote: true, html: {id: "task_form"} do |f| %>
     <%= f.input :title, label: false, placeholder: "Eg. Eat more"  %>
     <%= f.submit "Track" %>
    <% end %>

</div>