// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #699;
body {
  font-family: 'Open Sans', sans-serif;
}

#tasks {
  h1 {
    color: #699;
  }

  ul li {
    color: #333;

    &.done span{
      text-decoration: line-through;
    }

    a {
      font-size: 0.8em;
      color: #699;
      text-decoration: none;

      &:hover {
        background: lighten(#699, 40%);
      }
      &.delete {
        background: lighten($primary-color, 40%)
      }
    }
  }

  .blank {
    color: #333;
  }

  form#task_form {
    .input {
      display:inline;
      input.string {
        padding: 6px 15px;
      }
    }

    &>input {
      padding: 6px 15px;
      color: white;
      background: $primary-color;
      border: 2px solid $primary-color;
    }
  }
}